.button {
  height: fit-content;
  background-color: $primary-color;
  color: #ffffff;
  padding: 16px 32px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  max-width: 458px;
  width: 100%;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(#ffffff, 30%);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.button--modal-error {
  font-family: "PT Sans", "Arial", sans-serif;
}

@media (min-width: $mobile-width) {
  .button--find-hotel {
    display: block;
    width: 216px;
    margin: -17px 10px -15px -10px;
  }
}

@media (min-width: $tablet-width) {
  .button--find-hotel {
    width: 395px;
    margin: -17px auto -15px auto;
  }

  .button--send-review {
    font-family: "PT Sans", "Arial", sans-serif;
    padding: 20px 0 13px;
  }
}
