.copyright {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  &:hover {
    color: #81b3d2;
    filter: invert(74%) sepia(35%) saturate(398%) hue-rotate(161deg) brightness(89%) contrast(84%);
  }

  &:active {
    color: #b3b3b3;
    filter: invert(80%) sepia(7%) saturate(0%) hue-rotate(303deg) brightness(90%) contrast(89%);
  }
}

.copyright__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-right: 11px;
}

.copyright__link {
  fill: #000000;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
    justify-content: right;
  }
}
