.feedback-form__form {
  padding-bottom: 5px;
}

.feedback-form__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form__block {
  border: none;
  padding: 0 0 22px;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;

  &:nth-child(2) {
    padding-bottom: 13px;
  }

  &:nth-child(3) {
    padding-bottom: 5px;
  }

  &:nth-child(4) {
    padding-bottom: 4px;
  }
}

.form-control__label--flat .form-control__checkbox {
  margin-left: -5px;
}

.feedback-form__block-title {
  border-top: 1px solid $hr-color;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__block-controls {
  padding-left: 0;
  padding-right: 0;
}

.feedback-form__submit-area {
  padding-top: 21px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.feedback-form__submit-area-note {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  display: block;
  width: 100%;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .feedback-form__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .feedback-form__block-title {
    border-top: none;
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 28px;
  }

  .feedback-form__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name contacts"
      "impression impression"
      "attraction attraction"
      "emotions emotions"
      "submit submit";
    grid-column-gap: 0;
  }

  .feedback-form__block {
    &:nth-child(1) {
      grid-area: name;
      border-right: 1px solid $hr-color;
    }

    &:nth-child(1) .feedback-form__block-controls {
      padding-right: 40px;
    }

    &:nth-child(2) {
      grid-area: contacts;
    }

    &:nth-child(2) .feedback-form__block-controls {
      padding-left: 40px;
    }

    &:nth-child(3) {
      grid-area: impression;
      border-top: 1px solid $hr-color;
      padding-bottom: 2px;
    }

    &:nth-child(3) .feedback-form__block-controls {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: left;
      align-items: baseline;
      padding-left: 36px;
    }

    &:nth-child(4) {
      border-top: 1px solid $hr-color;
      grid-area: attraction;
      padding-bottom: 0;
    }

    &:nth-child(4) .feedback-form__block-controls {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: left;
      align-items: baseline;
      padding: 0 85px;
      grid-gap: 0 34px;
    }

    &:nth-child(5) {
      border-top: 1px solid $hr-color;
      grid-area: emotions;
    }
  }

  .feedback-form__submit-area {
    grid-area: submit;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 61px;
  }

  .feedback-form__submit-area-note {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .form-control__radio .form-control__label--flat {
    padding-right: 10px;
  }


}

@media (min-width: $desktop-width) {
  .feedback-form__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback-form__block {
    &:nth-child(1) {
      padding-left: 1px;
      padding-right: 13px;
      padding-bottom: 29px;
    }

    &:nth-child(2) {
      padding-bottom: 10px;
    }

    &:nth-child(3) {
      padding-bottom: 32px;
    }

    &:nth-child(1) .feedback-form__block-controls {
      padding-right: 50px;
    }

    &:nth-child(1) .feedback-form__block-title {
      padding-left: 8%;
    }

    &:nth-child(2) .feedback-form__block-title {
      padding-left: 8%;
    }

    &:nth-child(3) .feedback-form__block-title {
      padding-bottom: 28px;
    }

    &:nth-child(4) .feedback-form__block-controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 63px;
      padding: 29px 44px 46px;
    }

    &:nth-child(5) .form-control {
      align-items: center;
    }

    &:nth-child(2) .feedback-form__block-controls {
      padding-left: 79px;
    }

    &:nth-child(3) .feedback-form__block-controls {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: left;
      align-items: baseline;
      padding: 18px 0 0 55px;
      grid-gap: 10px;
    }
  }

  .feedback-form__submit-area {
    padding-left: 98px;
    padding-top: 10px;
    padding-bottom: 63px;
  }

  .feedback-form__submit-area-note {
    padding-right: 95px;
  }
}
