.form-control {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.form-control__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $description-font-color;
  display: block;
  text-align: left;
  padding-left: 16px;
}

.form-control__label--flat {
  padding-left: 0;
  display: flex;
  padding-right: 16px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  margin-bottom: -2px;
}

.form-control__input {
  height: 58px;
  width: auto;
  background-color: $controls-background-color;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding: 1px 0 0 16px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form-control__radio {
  appearance: none;
  background-color: unset;
  margin: 0;

  &:checked::before,
  &:not(:checked)::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border-radius: 100%;
    width: 46px;
    height: 46px;
  }

  &:checked::after,
  &:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #333333;
    border-radius: 100%;
    position: relative;
    top: -15px;
    left: -31px;
  }

  &:not(:checked)::after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked::after {
    opacity: 1;
    transform: scale(1);
  }
}

.form-control__checkbox {
  appearance: none;
  background-color: unset;
  margin: 0;

  &:checked::before,
  &:not(:checked)::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 46px;
    height: 46px;
  }

  &:checked::after,
  &:not(:checked)::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    position: relative;
    top: -15px;
    left: -30px;
  }

  &:not(:checked)::after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked::after {
    opacity: 1;
    transform: scale(1);
  }
}

.form-control__textarea {
  height: 117px;
  width: auto;
  background-color: $controls-background-color;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  resize: none;
  padding: 16px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form-control__input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.form-control__input-group .form-control__input {
  width: 100%;
}

.form-control__input-group-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  background-color: #e6e6e6;
  padding: 0 9px 0 6px;
}

@media (min-width: $tablet-width) {
  .form-control__textarea {
    height: 125px;
  }
}

@media (min-width: $desktop-width) {
  .form-control__textarea {
    height: 129px;
    width: 77%;
  }
}
