.interest__wrapper {
  padding: 37px 30px 0;
}

.interest__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.interest__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $description-font-color;
  margin: 0;
  padding: 20px 0 49px;
  text-transform: uppercase;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .interest__wrapper {
    padding: 60px 0 10px;
  }

  .interest__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .interest__text {
    padding-top: 30px;
    padding-bottom: 59px;

    br {
      display: inline;
    }
  }
}
