.main-footer__wrapper {
  padding-top: 36px;
}

.main-footer__social-tag {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 85px 5% 36px;
  }

  .main-footer__social-tag {
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}
