.main-nav {
  position: relative;
  height: 56px;
  width: 100%;
  z-index: 2;
}

.main-nav__wrapper {
  padding: 0;
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 21px;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.main-nav__list--open {
  display: block;
}

.main-nav__list-item {
  width: 100%;
  height: fit-content;
  background: $primary-color;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 0 12px;
}

.main-nav__list-item-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
