.main-nav {
  position: relative;
  height: 56px;
  width: 100%;
  z-index: 2;
}

.main-nav__wrapper {
  padding: 0;
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 21px;
  width: 22px;
  height: 22px;
  background-color: unset;
  border: none;
  background-image: url("../img/icon-menu.svg");
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.main-nav__list--open {
  display: block;
}

.main-nav__list-item {
  width: 100%;
  height: fit-content;
  background: $primary-color;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 0 12px;
}

.main-nav__list-item-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    background-color: #ffffff;
  }

  .main-nav__list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background-color: #ffffff;
    box-shadow: none;
    padding-top: 18px;

    &:nth-child(2) {
      margin-right: 20%;
    }
  }

  .main-nav__list-item-link {
    color: #000000;

    &:hover {
      color: $primary-color;
    }

    &:active {
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.3;
    }

    &:current {
      color: #766357;
    }
  }
}
