.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  max-width: $desktop-width;
  min-width: $mobile-width;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
