.page-header {
  display: block;
  text-transform: uppercase;
  width: 100%;
}

.page-header__title {
  padding-top: 34px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-left: 7%;
  padding-right: 9%;
}

.page-header__description {
  font-style: normal;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: $description-font-color;
  margin: 0;
  padding-top: 35px;
  padding-left: 6%;
  padding-right: 6%;
}

@media (min-width: $tablet-width) {
  .page-header__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    padding: 49px 124px 0;
  }

  .page-header__title--minor {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .page-header__description {
    padding: 29px 124px 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    padding: 59px 359px 0 358px;
  }

  .page-header__description {
    padding: 38px 359px 45px 358px;
  }
}
