$reason-background-color: #eeeeee;

.reasons {
  text-transform: uppercase;
  margin-top: -5px;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item {
  color: #ffffff;

  &:first-child .reasons__item-title {
    padding: 54px 22px 11px 16px;
  }

  &:first-child .reasons__item-number {
    padding: 54px 22px 11px 16px;
  }

  &:first-child .reasons__item-note {
    padding: 16px 22px 39px 16px;
  }

  &:nth-child(2) .reasons__item-title {
    padding-top: 39px;
  }

  &:nth-child(2) .reasons__item-note {
    padding-bottom: 34px;
  }
}

.reasons__item--simple {
  &:first-child .reasons__item-title {
    padding-top: 26px;
  }

  &:nth-child(n+2) .reasons__item-title {
    padding-top: 24px;
    // padding-left: 9px;
  }

  &:nth-child(n+2) .reasons__item-note {
    padding-bottom: 26px;
  }

  &:first-child .reasons__item-note {
    padding-bottom: 24px;
  }
}

.reasons__item-description {
  background-color: $primary-color;
  margin: 0;
}

.reasons__item-title {
  padding: 54px 15px 11px 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.reasons__item-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.reasons__item-note {
  padding: 17px 16px 37px 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.reasons__item-photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.reasons__item-features {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 26px 18px 0;
}

.reasons__item-feature {
  padding-bottom: 24px;

  &:nth-child(2) .reasons__item-feature-title-text {
    padding-left: 12px;
  }

  &:nth-child(2) .reasons__item-feature-description {
    padding-left: 52px;
    padding-top: 12px;
  }

  &:nth-child(3) .reasons__item-feature-title-text {
    padding-left: 4px;
  }

  &:nth-child(3) .reasons__item-feature-description {
    padding-left: 44px;
    padding-top: 13px;
  }

  &:last-child {
    padding-bottom: 51px;
  }
}

.reasons__item-feature-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reasons__item-feature-title-text {
  margin: 0;
  padding: 0 0 0 7px;
  vertical-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.reasons__item-feature-description {
  text-align: left;
  padding-left: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $description-font-color;
  margin: 0;
  padding-top: 10px;
}

.reasons__list--simple {
  background-color: $reason-background-color;
  padding: 0 18px 0 24px;
}

.reasons__list--simple .reasons__item {
  background-color: $reason-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border-bottom: none;
  }

  &:first-child::before {
    content: none;
  }
}

.reasons__list--simple .reasons__item-description {
  background-color: $reason-background-color;
  color: $description-font-color;
  margin: 0;
}

.reasons__list--simple .reasons__item-title {
  color: #000000;
  margin-top: 0;
}

.reasons__list--simple .reasons__item-note {
  font-weight: 400;
}

@media (max-width: 450px) {
  .reasons__item:first-child::before {
    display: block;
    content: "";
    height: 37px;
    width: 100%;
    background-image: url("../img/triangle.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 22px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .reasons__item {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: "a b" "c c";

    &:nth-child(2n) {
      grid-template-columns: 1fr 0.5fr;
      grid-template-areas: "b a" "c c";
      height: 256px;
    }
  }

  .reasons__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding: 40px 32px 11px;
  }

  .reasons__item-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .reasons__item-note {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 23px 32px 44px;
  }

  .reasons__item-description {
    grid-area: a;
    height: 256px;
    border-bottom: none;
  }

  .reasons__item-photo {
    height: 256px;
    object-fit: cover;
    grid-area: b;
  }

  .reasons__item-features {
    grid-area: c;
    display: flex;
    flex-flow: row;
    padding: 57px 31px 59px 36px;
  }

  .reasons__item-feature {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-right: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  .reasons__item-feature-title {
    display: flex;
    flex-direction: column;
  }

  .reasons__item-feature-title-text {
    padding: 26px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__item-feature-title-icon {
    height: 70px;
    width: auto;
  }

  .reasons__item-feature-description {
    text-align: center;
    padding-left: 0;
    margin: 0;
  }

  .reasons__list--simple {
    display: grid;
    grid-auto-flow: column;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 0;
  }

  .reasons__item--simple {
    display: block;
    width: 90%;

    .reasons__item-description {
      border-bottom: none;
    }

    .reasons__item-note {
      font-weight: 400;
    }
  }

  .reasons__list--simple .reasons__item {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .reasons__item-title {
    padding: 47px 52px 11px 53px;
  }

  .reasons__item-note {
    padding: 23px 52px 57px 53px;
  }

  .reasons__item-features {
    padding: 57px 78px 80px 58px;
  }
}
