.social__list {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 34px 0 0;
}

.social__item {
  display: inline;
  margin: 0;
}

.social__item-link {
  text-decoration: none;

  &:hover {
    filter: invert(67%) sepia(41%) saturate(405%) hue-rotate(159deg) brightness(81%) contrast(88%);
  }

  &:active {
    filter: invert(65%) sepia(36%) saturate(619%) hue-rotate(160deg) brightness(79%) contrast(84%);
  }
}

@media (min-width: $tablet-width) {
  .social {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .social__list {
    padding: 0;
  }
}
