.video-presentation {
  border-top: 1px solid $hr-color;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -10px;
}

.video-presentation__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 17px 28px;
  margin: 0;
}

.video-presentation__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 10px 10px 38px;
  margin: 0;
}

.video-presentation__embed {
  width: 100%;
  height: 173px;
}

@media (min-width: $tablet-width) {
  .video-presentation {
    border-top: none;
    padding: 41px 60px 47px;
  }

  .video-presentation__embed {
    width: 100%;
    height: 500px;
  }

  .video-presentation__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .video-presentation__description {
    padding: 13px 100px 87px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation {
    padding-top: 44px;
    padding-bottom: 88px;
  }

  .video-presentation__description{
    padding: 16px 310px 87px;
  }

  .video-presentation__embed {
    width: 800px;
    height: 500px;
    object-fit: cover;
  }
}
