.video-presentation {
  border-top: 1px solid $hr-color;
  padding-left: 20px;
  padding-right: 20px;
}

.video-presentation__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 17px 28px;
  margin: 0;
}

.video-presentation__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 38px;
}

.video-presentation__embed {
  width: 100%;
  height: 177px;
}

@media (min-width: $tablet-width) {
  .video-presentation {
    padding-right: 60px;
    padding-left: 60px;
    border-top: none;
    padding-top: 41px;
  }

  .video-presentation__embed {
    width: 100%;
    height: 500px;
  }

  .video-presentation__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation {
    padding-top: 49px;
  }

  .video-presentation__embed {
    width: 800px;
    height: 500px;
    object-fit: cover;
  }
}
