.copyright {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.copyright__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
