.main-footer {
  .main-footer__wrapper {
    padding-top: 39px;
  }

  .main-footer__social-tag {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
  }
}
