.page-header {
  display: block;
  text-transform: uppercase;
  width: 100%;

  .page-header__title {
    padding-top: 32px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
  }

  .page-header__description {
    font-style: normal;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin: 0;
    padding-top: 35px;
    padding-left: 6%;
    padding-right: 6%;
  }
}
