.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
