@import "variables";
@import "fonts";
@import "blocks/page-body";
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/page-header";
@import "blocks/reasons";
@import "blocks/interest";
@import "blocks/map";
@import "blocks/main-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/feedback-form";
@import "blocks/form-control";
@import "blocks/button";
@import "blocks/gallery";
@import "blocks/video-presentation";
@import "blocks/modal";
@import "blocks/overlay";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible-on-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.visible-on-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
